body {
    margin: 0;
    padding: 0;
    background-color: rgb(18, 70, 14);
}
.container {
    margin-top: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.grid-item {
        background-color: #fff;
    border-radius: 5px;
   
    padding: 1%;
    box-shadow: 0 5px 5px rgba(97, 10, 10, 0.2);
}
label {
  display: block;
  border-radius: 10px;
  margin-bottom: 8px;
  
  font-weight: bold;
  border: rgb(18, 12, 68) 3px solid;
}
input{
    margin-left:8px;
    border-radius: 8px;
   width: 90%;
    height: auto;
    box-shadow: 0 0 34px rgba(97, 10, 10, 0.2);
    padding: 8px;
    margin-bottom: 8px;
    border: rgb(18, 12, 68) 3px solid;
   
}
button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    box-shadow: 0 0 34px rgba(97, 10, 10, 0.2);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: rgb(18, 12, 68) 3px solid;
}

